#containerDashboard{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

sidebar{
    display: block;
    width: 15%;
    min-width: 150px;
    height: 100%;
}

#sidebarItens li{
    list-style-type: none;
}

#sidebarItens a{
    text-decoration: none;
}

#sidebarHeader{
    height: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

a.btn.btn-outline-danger.col-5{
    min-width: 100px;
}

main{
    height: 100%;
    width: calc(100% - 15%);
}

#headerDashboard{
    height: 50px;
    display: flex;
    align-items: center;
    background-color: aliceblue;
}

#contentDashboard{
    background-color: lightblue;
    padding: 20px;
    height: 100%;
}

.card{
    border-radius: 15px;
}

#contentDashboard .card-body{
    -webkit-box-shadow: 3px 3px 24px -6px rgba(61,61,61,1);
    -moz-box-shadow: 3px 3px 24px -6px rgba(61,61,61,1);
    box-shadow: 3px 3px 24px -6px rgba(61,61,61,1);
}