@import "../style/login-register.css";
@import "../style/navBar_unlogged.css";
@import "../style/navBar_logged.css";
@import "../style/dashboard.css";
@import "../style/contas.css";

div.ss-single-selected{
    min-height: 38px;
}

.fa-plus-square{
    font-size: 25px;
    color: green;
}

.modal-open #containerDashboard, .second-modal-open {
    filter: blur(3px);
    -webkit-filter: blur(3px);
}

a{
    cursor: pointer;
}