@import "../style/login-register.css";
@import "../style/navBar_unlogged.css";
@import "../style/navBar_logged.css";
@import "../style/dashboard.css";
@import "../style/contas.css";

div.ss-single-selected{
    min-height: 38px;
}

div.ss-multi-selected{
    height: 38px;
}

div.ss-add{
    padding-top: 5px;
}

.fa-plus-square{
    font-size: 25px;
    color: green;
}