@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "../style/login-register.css";
@import "../style/navBar_unlogged.css";
@import "../style/dashboard.css";
@import "../style/contas.css";
@import "../style/receitas.css";
@import "../style/profile.css";

* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0 ;
    font-family: 'Lato', sans-serif;
}

div.ss-single-selected {
    min-height: 38px;
}

.fa-plus-square {
    font-size: 25px;
    color: green;
}

.modal-open #containerDashboard, .second-modal-open {
    filter: blur(3px);
    -webkit-filter: blur(3px);
}

a {
    cursor: pointer;
}