#containerCardsContas{
    display: flex;
    align-items: center;
}

.cardsContainer{
    justify-content: unset;
}

@media screen and (min-width: 400px){
    .cardsContainer{
        justify-content: center;
    }
}

.card{
    margin-bottom: 15px;
}