:root{
    --sideBarWidth: 20%;
}

#containerDashboard{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

sidebar{
    display: block;
    width: var(--sideBarWidth);
    min-width: 150px;
    height: 100%;
    background-color: #EBEBEB;
}

#sidebarItems{
    padding-top: 2rem;
}

#sidebarItems li{
    list-style-type: none;
}

#sidebarItems a{
    text-decoration: none;
    color: #4F5D75;
}

#sidebarHeader{
    height: 50px;
    padding: .1rem;
    background-color: #4895ef;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

#sidebarHeader h4{
    color: white;
}

a.btn.btn-outline-danger.col-5{
    min-width: 100px;
}

main{
    height: 100%;
    /* width: calc(100% - var(--sideBarWidth)); */
    width: 100%;
}

#contentDashboard{
    padding-left: 25px;
    padding-top: 15px;
    height: 100%;
}

.cardsContainer .card-body{
    -webkit-box-shadow: 3px 3px 24px -6px rgba(61,61,61,1);
    -moz-box-shadow: 3px 3px 24px -6px rgba(61,61,61,1);
    box-shadow: 3px 3px 24px -6px rgba(61,61,61,1);

    min-height: 160px;
    max-height: 200px;
    border-radius: 15px;
}

.cardsContainer .card{
    border: none;
    border-radius: 15px;
}

.cardsContainer .col-sm-3{
    min-width: 250px;
}

.cardsContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row.col-sm .btn{
    max-width: 95px;
}

@media screen and (max-width: 941px) {
    .card {
      margin-bottom: 15px;
    }
}

@media screen and (max-width: 575px){
    .card{
        width: 250px;
    }

    main{
        width: 100%;
    }

    .row.cardsContainer .col-sm-3{
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 450px){
    sidebar{
        display: none;
    }
}

.hide{
    display: none;
}

div.sideBarIcon{
    width: 20px;
    height: 20px;
    margin-right: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sideBarIcon i{
    font-size: 1rem;
    color: #4F5D75;
}

#headerDashboard{
    background-color: #4895ef;
    height: 50px;
    display: flex;
    align-items: center;
}

div.sideBarItem:hover a, div.sideBarItem:hover i{
    color: #4895ef !important;
    cursor: pointer;
    font-size: 1.2rem;
}

.sideBarItem{
    width: fit-content;
}

.menuToggler{
    cursor: pointer;
    margin-left: 15px;
    color: #EBEBEB;
}