:root{
    --sideNavWidth: 15%;
}

#containerDashboard{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

sidebar{
    display: block;
    width: var(--sideNavWidth);
    min-width: 150px;
    height: 100%;
}

#sidebarItens li{
    list-style-type: none;
}

#sidebarItens a{
    text-decoration: none;
}

#sidebarHeader{
    height: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

a.btn.btn-outline-danger.col-5{
    min-width: 100px;
}

main{
    height: 100%;
    /* width: calc(100% - var(--sideNavWidth)); */
    width: 100%;
}

#contentDashboard{
    padding-left: 25px;
    padding-top: 15px;
    height: 100%;
}

.cardsContainer .card-body{
    -webkit-box-shadow: 3px 3px 24px -6px rgba(61,61,61,1);
    -moz-box-shadow: 3px 3px 24px -6px rgba(61,61,61,1);
    box-shadow: 3px 3px 24px -6px rgba(61,61,61,1);

    min-height: 160px;
    max-height: 200px;
    border-radius: 15px;
}

.cardsContainer .card{
    border: none;
    border-radius: 15px;
}

.cardsContainer .col-sm-3{
    min-width: 250px;
}

.cardsContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row.col-sm .btn{
    max-width: 95px;
}

@media screen and (max-width: 941px) {
    .card {
      margin-bottom: 15px;
    }
}

@media screen and (max-width: 575px){
    .card{
        width: 250px;
    }

    main{
        width: 100%;
    }

    .row.cardsContainer .col-sm-3{
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 450px){
    sidebar{
        display: none;
    }
}

.hide{
    display: none;
}