body{
    min-width: 441px;
}

.divForm{
    padding: 30px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#formRegister, #formLogin{
    padding: 10px;
    text-align: center;
}

#logo{
    height: 60px;
}