.divForm{
    padding: 30px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    text-align: center;
}

#formulario{
    padding: 10px;
    text-align: center;
}