#profilePicture{
    width: 110px;
    height: 110px;
    border-radius: 100%;
}

div#userInfo{
    padding: 20px;
}

div#userInfo h5{
    padding-top: 7px;
    margin-right: 5px;
}

div.camposInfo label, div.camposInfo input{
    margin-right: 10px;
}